[submodule "1-python-introduction-hello_world_and_comments-Akanshasaxena10"]
	path = 1-python-introduction-hello_world_and_comments-Akanshasaxena10
	url = https://github.com/fbw-p22-e3-assignments/1-python-introduction-hello_world_and_comments-Akanshasaxena10.git
[submodule "2-python-introduction-math_operators-Akanshasaxena10"]
	path = 2-python-introduction-math_operators-Akanshasaxena10
	url = https://github.com/fbw-p22-e3-assignments/2-python-introduction-math_operators-Akanshasaxena10.git
